<nav class="navbar navbar-expand-lg navbar-light white black-text my-nav fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">
        <img src="img/redeem.png" width="30" height="30" class="d-inline-block align-top" alt="">
        SOV Praise Blast
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/" data-toggle="tooltip" title="Home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Member</a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#reg-form"><i class="fa fa-user-plus" aria-hidden="true"></i> New Member</a>
                <a class="dropdown-item" href="/admin"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
              </div>
              </li>
              
          </ul>
        
        </div>
      </div>
  </nav>